.example-card {
    max-width: 400px;
    min-height: 400px;
  }
  
  .example-header-image {
    background-image: url('https://avatar.iran.liara.run/public/42');
    background-size: cover;
  }

  


mat-card-title {
    white-space: nowrap;       /* Prevents wrapping */
    overflow: hidden;          /* Hides overflowing text */
    text-overflow: ellipsis;   /* Adds ellipsis at the end of the text */
    display: block;            /* Required for ellipsis to work */
  }

  mat-icon {
    margin-left: unset !important;
    margin-right: unset !important;
  }