<mat-nav-list>
    <a mat-list-item style="padding: 50px;" *ngIf="isShowCommentLoader">
      <svg version="1.1" style="color:  black;" id="L9" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
        y="0px" viewBox="-140 -150 400 400" enable-background="new 0 0 0 0" xml:space="preserve">
        <path fill="#FF0000"
          d="M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50">
          <animateTransform attributeName="transform" attributeType="XML" type="rotate" dur="1s" from="0 50 50"
            to="360 50 50" repeatCount="indefinite" />
        </path>
      </svg>
    </a>
    <a mat-list-item *ngFor="let comment of comments">
      <span matListItemTitle>{{comment.user?.firstName}} {{comment.user?.lastName}}
        <button *ngIf="userDetail.id == comment.user?.id" style="margin-left: 20vw;" (click)="editComment(comment)">
          <mat-icon style="margin: 0px; ">edit</mat-icon>
        </button>
        <span>
          <button *ngIf="userDetail.id == comment.user?.id" (click)="deleteComment(comment.id)">
            <mat-icon style="margin: 0px;">delete</mat-icon>
          </button>
        </span>
      </span>
      <span matLine>{{comment.commentText}}</span>
    </a>
    <form>
      <mat-form-field fxFlex="90" style="margin-top: 5px;">
        <mat-label>Comment</mat-label>
        <textarea matInput name="commentText" [(ngModel)]="comment.commentText" cdkTextareaAutosize
          #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5">
          </textarea>
      </mat-form-field>
      <button mat-fab (click)="addComment()" style="background-color:#3f51b5; margin-left: 10px;">
        <mat-icon>send</mat-icon>
      </button>
    </form>
  </mat-nav-list>